#whole{
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding-top: 100px;
}

#form {
    border:2px solid black;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(224 231 255);
    max-width: auto;
    text-align: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
