#total{
    margin-left: 100px;
    margin-right: 100px;
    margin-top:40px;
}
#displayNotes{
}
.addButton{
    margin-right: 50px;
    margin-bottom: 50px;
    bottom: 0;
    right:0;
    position: absolute;
      
}
#search{
    margin-top: 30px;
}
